@model IEnumerable<InterviewSolution.Models.Display.DisplayAllDocument>

@{
    ViewBag.Title = "Index";
}

<h2>All Document</h2>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Size
        </th>
        <th>
            Pdf Version
        </th>
        <th>
            Text
        </th>
        <th>
            PixelType
        </th>
        <th>
            Frame Count
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.Table1)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Size
            </td>
            <td>
                @item.PdfVersion
            </td>
            <td>
                @item.Text
            </td>
            <td>
                @item.PixelType
            </td>
            <td>
                @item.FrameCount
            </td>

        </tr>
    }

</table>


<h2>Documents Over 200 Size</h2>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Size
        </th>
        <th>
            Pdf Version
        </th>
        <th>
            Text
        </th>
        <th>
            PixelType
        </th>
        <th>
            Frame Count
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.Table2)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Size
            </td>
            <td>
                @item.PdfVersion
            </td>
            <td>
                @item.Text
            </td>
            <td>
                @item.PixelType
            </td>
            <td>
                @item.FrameCount
            </td>

        </tr>
    }

</table>


<h2>Documents Over 200 size and is PDF</h2>


<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Size
        </th>
        <th>
            Pdf Version
        </th>
        <th>
            Text
        </th>
        <th>
            PixelType
        </th>
        <th>
            Frame Count
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.Table3)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Size
            </td>
            <td>
                @item.PdfVersion
            </td>
            <td>
                @item.Text
            </td>
            <td>
                @item.PixelType
            </td>
            <td>
                @item.FrameCount
            </td>

        </tr>
    }

</table>


<h2>All Color</h2>


<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Size
        </th>
        <th>
            Pdf Version
        </th>
        <th>
            Text
        </th>
        <th>
            PixelType
        </th>
        <th>
            Frame Count
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.Table4)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Size
            </td>
            <td>
                @item.PdfVersion
            </td>
            <td>
                @item.Text
            </td>
            <td>
                @item.PixelType
            </td>
            <td>
                @item.FrameCount
            </td>

        </tr>
    }

</table>

<h2>All Pdf Version  = 2</h2>


<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Size
        </th>
        <th>
            Pdf Version
        </th>
        <th>
            Text
        </th>
        <th>
            PixelType
        </th>
        <th>
            Frame Count
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.Table5)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Size
            </td>
            <td>
                @item.PdfVersion
            </td>
            <td>
                @item.Text
            </td>
            <td>
                @item.PixelType
            </td>
            <td>
                @item.FrameCount
            </td>

        </tr>
    }

</table>


<h2>Sort All Document</h2>


<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Size
        </th>
        <th>
            Pdf Version
        </th>
        <th>
            Text
        </th>
        <th>
            PixelType
        </th>
        <th>
            Frame Count
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.Table6)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Size
            </td>
            <td>
                @item.PdfVersion
            </td>
            <td>
                @item.Text
            </td>
            <td>
                @item.PixelType
            </td>
            <td>
                @item.FrameCount
            </td>

        </tr>
    }

</table>
