@model IEnumerable<InterviewSolution.Models.Display.DisplayAllDocument>

@{
    ViewBag.Title = "Index";
}

<h4>All Document</h4>

<table class="table  table-bordered">
    <tr class=" alert-danger  ">
        <th >
            Name
        </th>
        <th>
            Size
        </th>
        <th>
            Pdf Version
        </th>
        <th>
            Text
        </th>
        <th>
            PixelType
        </th>
        <th>
            Frame Count
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.Table1)
    {
 

        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Size
            </td>
            <td>
                @item.PdfVersion
            </td>
            <td>
                @item.Text
            </td>
            <td>
                @item.PixelType
            </td>
            <td>
                @item.FrameCount
            </td>

        </tr>
    
       
    }

</table>


<h4>Documents Over 200 Size</h4>

<table class="table    table-bordered">
    
        <tr class="alert-danger">
            <th>
                Name
            </th>
            <th>
                Size
            </th>
            <th>
                Pdf Version
            </th>
            <th>
                Text
            </th>
            <th>
                PixelType
            </th>
            <th>
                Frame Count
            </th>
            <th></th>
        </tr>

   

    @foreach (var item in ViewBag.Table2)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Size
            </td>
            <td>
                @item.PdfVersion
            </td>
            <td>
                @item.Text
            </td>
            <td>
                @item.PixelType
            </td>
            <td>
                @item.FrameCount
            </td>

        </tr>
    }

</table>


<h4>Documents Over 200 size and is PDF</h4>


<table class="table   table-bordered">
    <tr class=" alert-danger ">
        <th>
            Name
        </th>
        <th>
            Size
        </th>
        <th>
            Pdf Version
        </th>
        <th>
            Text
        </th>
        <th>
            PixelType
        </th>
        <th>
            Frame Count
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.Table3)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Size
            </td>
            <td>
                @item.PdfVersion
            </td>
            <td>
                @item.Text
            </td>
            <td>
                @item.PixelType
            </td>
            <td>
                @item.FrameCount
            </td>

        </tr>
    }

</table>


<h4>All Color</h4>


<table class="table   table-bordered">
    <tr class=" alert-danger ">
        <th>
            Name
        </th>
        <th>
            Size
        </th>
        <th>
            Pdf Version
        </th>
        <th>
            Text
        </th>
        <th>
            PixelType
        </th>
        <th>
            Frame Count
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.Table4)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Size
            </td>
            <td>
                @item.PdfVersion
            </td>
            <td>
                @item.Text
            </td>
            <td>
                @item.PixelType
            </td>
            <td>
                @item.FrameCount
            </td>

        </tr>
    }

</table>

<h4>All Pdf Version  = 2</h4>


<table class="table   table-bordered">
    <tr class=" alert-danger ">
        <th>
            Name
        </th>
        <th>
            Size
        </th>
        <th>
            Pdf Version
        </th>
        <th>
            Text
        </th>
        <th>
            PixelType
        </th>
        <th>
            Frame Count
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.Table5)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Size
            </td>
            <td>
                @item.PdfVersion
            </td>
            <td>
                @item.Text
            </td>
            <td>
                @item.PixelType
            </td>
            <td>
                @item.FrameCount
            </td>

        </tr>
    }

</table>


<h4>Sort All Document by size</h4>


<table class="table table table-bordered">
    <tr class=" alert-danger  ">
        <th>
            Name
        </th>
        <th>
            Size
        </th>
        <th>
            Pdf Version
        </th>
        <th>
            Text
        </th>
        <th>
            PixelType
        </th>
        <th>
            Frame Count
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.Table6)
    {
        <tr >
            <td >
                @item.Name
            </td>
            <td>
                @item.Size
            </td>
            <td>
                @item.PdfVersion
            </td>
            <td>
                @item.Text
            </td>
            <td>
                @item.PixelType
            </td>
            <td>
                @item.FrameCount
            </td>

        </tr>
    }

</table>
